
@*<div class="text-center">
    <h1 class="display-4">login</h1>
    <form asp-controller="login" asp-action="checklogin">
        email <input type="text" name="email" />
        password <input type="text" name="password" />
        <input type="submit" value="login" />
    </form>
</div>*@

<link rel="stylesheet" type="text/css" href="./css/login.css">
<div class="wrapper">
    <div class="title">
       Login Form
    </div>
    <form asp-controller="login" asp-action="checklogin">
       <div class="field">
          <input type="text" name="email" required>
          <label>Email</label>
       </div>
       <div class="field">
          <input type="password" name="password" required>
          <label>Password</label>
       </div>
       <div class="content">
          <div class="checkbox">
             <input type="checkbox" id="remember-me">
             <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link">
             <a href="#">Forgot password?</a>
          </div>
       </div>
       <div class="field">
          <input type="submit" value="login">
       </div>
       <div style="color:red"  class="signup-link">
          Not a member? <a href="#">Signup now</a>
       </div>
    </form>
 </div>


 

